# Kafka
KAFKA_BOOTSTRAP=localhost:29092
KAFKA_TOPIC_ORDERS=orders
KAFKA_TOPIC_DLQ=orders_dlq

# Producer
RATE=100
CORRUPT_PCT=0.02
DATA_FILE=data/sample_1k.csv
LOOP=true

# Postgres
POSTGRES_USER=pipeline
POSTGRES_PASSWORD=pipeline
POSTGRES_DB=analytics
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Airflow
AIRFLOW_HOME=/home/airflow/airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__UNIT_TEST_MODE=True
